In [1]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
%matplotlib inline

random.seed(42)

In [4]:
# read data
df = pd.read_csv('ab_data.csv')
df.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

In [8]:
df.shape

(294478, 5)

In [10]:
df.user_id.nunique()

290584

In [11]:
user = {}
for userid in df2.user_id:
    if userid not in user:
        user[userid] = 1
    else: 
        user[userid] += 1
        duplicate_user_id = userid
        print(duplicate_user_id)

NameError: name 'df2' is not defined